<section
  id="contact"
  class="relative bg-gradient-to-r from-[#AAD5F9] to-[#E3F1FC] py-[40px] 900:py-[20px] overflow-hidden"
>
  <img
    src="./assets/images/cta_bg_left.svg"
    alt="Left BG"
    class="absolute left-0 top-0 z-0 h-full"
  />
  <img
    src="./assets/images/cta_bg_right.svg"
    alt="Right BG"
    class="absolute right-0 top-0 z-0 h-full"
  />
  <img
    src="./assets/images/cta_img.svg"
    alt="Main CTA"
    class="absolute right-[2.5%] top-[50%] translate-y-[-50%] z-10 h-[90%] 900:hidden"
  />
  <div class="wrapper relative z-20 flex flex-col items-center">
    <img
      src="./assets/images/cta_title_pc.svg"
      alt="CTA Title"
      class="900:hidden h-[100px]"
    />
    <img
      src="./assets/images/cta_title_sp@2x.webp"
      alt="CTA Title"
      class="hidden 900:block h-[100px]"
    />
    <div
      class="flex 900:flex-col flex-wrap items-center justify-center gap-[20px] 900:mt-[20px]"
    >
      <a href="tel:011-211-0315" class="flex flex-col items-end min-w-max">
        <div
          class="flex items-center gap-[5px] text-[#205ACE] font-bold font-open-sans text-[52px] 900:text-[44px]"
        >
          <img
            src="./assets/images/icon-tel.svg"
            alt="Phone"
            class="w-[40px] h-[40px] 900:w-[30px] 900:h-[30px]"
          />
          <span>011-211-0315</span>
        </div>
        <div class="flex items-center gap-[10px]">
          <span class="font-[600]">お電話受付時間</span>
          <span>平日9：00～17：00</span>
        </div>
        <span>時間外・土日祝日は080-9816-2704へ</span>
      </a>
      <a
        class="bg-[#1CCC12] text-[22px] text-white font-[600] px-[30px] py-[15px] rounded-[40px] flex items-center gap-[10px] min-w-max"
        href="https://line.me/R/ti/p/%400112110315"
        target="_blank"
      >
        <span>LINEでお問い合わせ</span>
        <img
          src="./assets/images/icon-line.svg"
          alt="Phone"
          class="w-[50px] h-[50px]"
        />
      </a>
      <a
        class="bg-[#205ACE] text-[22px] text-white font-[600] px-[30px] py-[15px] rounded-[40px] flex items-center gap-[10px] min-w-max"
        href="mailto:info@shigaku.jp"
        target="_blank"
      >
        <span>メールでお問い合わせ</span>
        <img
          src="./assets/images/icon-mail.svg"
          alt="Phone"
          class="w-[50px] h-[50px]"
        />
      </a>
    </div>
  </div>
</section>
