<header id="header" class="flex items-center gap-[20px] h-[136px]">
  <a href="/" class="hover:opacity-70 transition-all duration-300">
    <div class="w-[180px] min-w-[180px] 900:w-[160px] 900:min-w-[160px] h-max">
      <img src="./assets/images/logo.png" alt="Shigaku" class="w-full h-full" />
    </div>
  </a>
  <div
    id="headerButtons"
    class="flex flex-wrap items-center justify-end gap-[20px] ml-auto pr-[2.5%] py-[10px]"
  >
    <div class="flex flex-col items-end min-w-max 1100:hidden">
      <a
        href="tel:011-211-0315"
        class="flex items-center gap-[5px] text-[#205ACE] font-bold font-open-sans text-[39px] hover:opacity-70 transition-all duration-300"
      >
        <img
          src="./assets/images/icon-tel.svg"
          alt="Phone"
          class="w-[25px] h-[25px]"
        />
        <span>011-211-0315</span>
      </a>
      <div class="flex items-center gap-[10px] mt-[2px]">
        <span class="font-[600]">お電話受付時間</span>
        <span>平日9：00～17：00</span>
      </div>
      <span
        >時間外・土日祝日は<a
          href="tel:080-9816-2704"
          class="underline hover:opacity-70 transition-all duration-300"
          >080-9816-2704</a
        >へ</span
      >
    </div>
    <a
      class="900:hidden bg-[#1CCC12] text-[22px] text-white font-[600] px-[30px] py-[15px] rounded-[40px] flex items-center gap-[10px] min-w-max hover:opacity-70 transition-all duration-300"
      href="https://line.me/R/ti/p/@454ihgwt"
      target="_blank"
    >
      <span>LINEでお問い合わせ</span>
      <img
        src="./assets/images/icon-line.svg"
        alt="Phone"
        class="w-[50px] h-[50px]"
      />
    </a>
    <a
      class="900:hidden bg-[#205ACE] text-[22px] text-white font-[600] px-[30px] py-[15px] rounded-[40px] flex items-center gap-[10px] min-w-max hover:opacity-70 transition-all duration-300"
      href="/#contact-form"
    >
      <span>メールでお問い合わせ</span>
      <img
        src="./assets/images/icon-mail.svg"
        alt="Phone"
        class="w-[50px] h-[50px]"
      />
    </a>
    <a
      class="hidden 900:flex bg-white border-[2px] border-[#1CCC12] text-[22px] text-white font-[600] h-[90px] w-[90px] 600:h-[70px] 600:w-[70px] rounded-full items-center gap-[10px] min-w-max flex items-center justify-center hover:opacity-70 transition-all duration-300"
      href="https://line.me/R/ti/p/@454ihgwt"
      target="_blank"
    >
      <img
        src="./assets/images/line.svg"
        alt="Phone"
        class="w-[50px] h-[50px] 600:w-[40px] 600:h-[40px]"
      />
    </a>
    <a
      class="hidden 900:flex bg-white border-[2px] border-[#205ACE] text-[22px] text-white font-[600] h-[90px] w-[90px] 600:h-[70px] 600:w-[70px] rounded-full items-center gap-[10px] min-w-max flex items-center justify-center hover:opacity-70 transition-all duration-300"
      href="/#contact-form"
    >
      <img
        src="./assets/images/icon-mail.svg"
        alt="Phone"
        class="w-[70px] h-[70px] 600:w-[60px] 600:h-[60px]"
      />
    </a>
  </div>
</header>
